spider/bin/
spider/include/
spider/lib/
spider/lib64/
spider/path/
spider/share/
spider/src/data/
spider/.env
spider/pyvenv.cfg
html2markdown/node_modules/
html2markdown/.env
html2markdown/ecosystem.config.js
html2markdown/package-lock.json
html2markdown/dist/
html2markdown/temp/
data/

