spider/bin/
spider/include/
spider/lib/
spider/lib64/
spider/path/
spider/share/
spider/src/data/
spider/.env
spider/pyvenv.cfg
html-to-markdown/node_modules/
html-to-markdown/.env
html-to-markdown/ecosystem.config.js
html-to-markdown/package-lock.json
html-to-markdown/dist/
data/
